* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*navbar*/
nav {
	padding: 22.5px 0px;
	background-color: #383838;
	opacity: 0.8;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.responsive-icon {
	visibility: hidden;
	font-size: 20px;
}

.navbar-links a{
	margin: 0px 10px;
	padding: 23px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navbar-links a:hover{
	color: #757575;
	text-decoration: none;
}

/*gallery*/
.gallery {
	background-color: #303030;
	height: 100vh;
	text-align: center;
}

.gallery-text {
	position: relative;
	top: 40px;
	background-color: black;
	border-radius: 5px;
	opacity: 0.9;
	display: flex;
	width: 500px;
	color: white;
}

.gallery-header{
	color: #d9b382;
}

#gallery-sub-header{
	font-size: 15px;
}

.photo-stack {
	position: relative;
	top: 100px;
	right: 370px;
	padding: 25px;
	display: flex;
	height: 325px;
	width: 500px;
}

.photo-stack-img {
	position: relative;
	bottom: 10px;
	width: 200px;
	height: 200px;
}

.gallery-polaroid {
	background-color: #F4F4F2;
	height: 250px;
	width: 225px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic-stack-1 {
	transform: rotate(-15deg);
	filter: grayscale(100%);
	z-index: 1;
}

.pic-stack-1:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-2 {
	position: absolute;
	left: 175px;
	filter: grayscale(100%);
	z-index: 2;
}

.pic-stack-2:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-3 {
	position: absolute;
	top: 50px;
	left: 275px;
	transform: rotate(15deg);
	filter: grayscale(100%);
	z-index: 3;
}

.pic-stack-3:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-4 {
	position: absolute;
	top: 125px;
	left: 55px;
	transform: rotate(-25deg);
	filter: grayscale(100%);
	z-index: 4;
}

.pic-stack-4:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-5 {
	position: absolute;
	top: 125px;
	left: 175px;
	transform: rotate(-5deg);
	filter: grayscale(100%);
	z-index: 5;
}

.pic-stack-5:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-200px);
	transform: translateY(-200px);
}

.pic-stack-6 {
	position: absolute;
	top: 150px;
	left: 275px;
	transform: rotate(15deg);
	filter: grayscale(100%);
	z-index: 6;
}

.pic-stack-6:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

/*2nd stack*/
.photo-stack-2{
	position: relative;
	bottom: 220px;
	left: 320px;
	padding: 25px;
	display: flex;
	height: 325px;
	width: 500px;
}

.pic-stack-7 {
	transform: rotate(-17.5deg);
	filter: grayscale(100%);
	z-index: 7;
}

.pic-stack-7:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-8 {
	position: absolute;
	transform: rotate(-2.5deg);
	left: 165px;
	filter: grayscale(100%);
	z-index: 8;
}

.pic-stack-8:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-9 {
	position: absolute;
	top: 50px;
	left: 275px;
	transform: rotate(17.5deg);
	filter: grayscale(100%);
	z-index: 9;
}

.pic-stack-9:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-10 {
	position: absolute;
	top: 125px;
	left: 55px;
	transform: rotate(-27.5deg);
	filter: grayscale(100%);
	z-index: 10;
}

.pic-stack-10:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

.pic-stack-11 {
	position: absolute;
	top: 125px;
	left: 175px;
	transform: rotate(-7.5deg);
	filter: grayscale(100%);
	z-index: 11;
}

.pic-stack-11:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-200px);
	transform: translateY(-200px);
}

.pic-stack-12 {
	position: absolute;
	top: 150px;
	left: 275px;
	transform: rotate(17.5deg);
	filter: grayscale(100%);
	z-index: 12;
}

.pic-stack-12:hover {
	filter: grayscale(0%);
	transition: 1s;
	transform: translateX(-100px);
	transform: translateY(-100px);
}

#gallery-preview {
	background-color: black;
	position: absolute;
	bottom: 50px;
	right: 120px;
	height: 400px;
	width: 600px;
	border: 0px;
	border-radius: 10px;
}

/*footer*/
footer{
	background-color: #383838;
	opacity: 0.8;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}

/*responsive - tablet*/
@media only screen and (min-width: 640px) and (max-width: 1365px){

	nav{
		z-index: 10;
	}

	.gallery {
		background-color: #383838;
		height: 110vh;
	}

	.gallery-text {
		position: relative;
		top: -90px;
	}

	.photo-stack {
		position: relative;
		top: -70px;
		right: 0px;
	}

	.photo-stack-2 {
		top: 20px;
		left: 0px;
	}

	.pic-stack-1,
	 .pic-stack-2,
	 .pic-stack-3,
	 .pic-stack-4,
	 .pic-stack-5, 
	 .pic-stack-6, 
	 .pic-stack-7, 
	 .pic-stack-8, 
	 .pic-stack-9, 
	 .pic-stack-10, 
	 .pic-stack-11, 
	 .pic-stack-12 {
		filter: grayscale(0%);
	}
}

/*responsive - mobile*/
@media only screen and (max-width: 639px){

	/*navbar*/
	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}

	.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*gallery*/
	.gallery {
		background-color: #383838;
		height: 100vh;
		width: 100vw;
	}

	.gallery-text {
		width: 80%;
		position: relative;
		top: -5%;
	}

	.gallery-polaroid{
		height: 125px;
		width: 100px;
	}

	.photo-stack-img {
		position: relative;
		bottom: 10px;
		width: 90px;
		height: 90px;
	}

	.photo-stack {
		padding: 0px;
		position: relative;
		top: -2.5%;
		left: 0%;
		height: 225px;
		width: 250px;
	}

	.photo-stack-2 {
		padding: 0px;
		top: -3.5%;
		left: 0%;
		height: 225px;
		width: 250px;
	}

	.pic-stack-1 {
		position: absolute;
		top: 10px;
		left: -15px;
		transform: rotate(-15deg);
		filter: grayscale(100%) !important;
		z-index: 1;
	}

	.pic-stack-1:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-2 {
		position: absolute;
		left: 75px;
		top: 0px;
		filter: grayscale(100%) !important;
		z-index: 2;
	}

	.pic-stack-2:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-3 {
		position: absolute;
		top: 10px;
		left: 165px;
		transform: rotate(15deg);
		filter: grayscale(100%) !important;
		z-index: 3;
	}

	.pic-stack-3:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-4 {
		position: absolute;
		top: 75px;
		left: 0px;
		transform: rotate(-25deg);
		filter: grayscale(100%) !important;
		z-index: 4;
	}

	.pic-stack-4:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-5 {
		position: absolute;
		top: 65px;
		left: 75px;
		transform: rotate(-3deg);
		filter: grayscale(100%) !important;
		z-index: 5;
	}

	.pic-stack-5:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-6 {
		position: absolute;
		top: 80px;
		left: 150px;
		transform: rotate(20deg);
		filter: grayscale(100%) !important;
		z-index: 6;
	}

	.pic-stack-6:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-7 {
		position: absolute;
		top: 10px;
		left: -15px;
		transform: rotate(-15deg);
		filter: grayscale(100%) !important;
		z-index: 7;
	}

	.pic-stack-7:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-8 {
		position: absolute;
		left: 75px;
		top: 0px;
		filter: grayscale(100%) !important;
		z-index: 8;
	}

	.pic-stack-8:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-9 {
		position: absolute;
		top: 10px;
		left: 165px;
		transform: rotate(15deg);
		filter: grayscale(100%) !important;
		z-index: 9;
	}

	.pic-stack-9:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-10 {
		position: absolute;
		top: 75px;
		left: 0px;
		transform: rotate(-25deg);
		filter: grayscale(100%) !important;
		z-index: 10;
	}

	.pic-stack-10:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-11 {
		position: absolute;
		top: 65px;
		left: 75px;
		transform: rotate(-3deg);
		filter: grayscale(100%) !important;
		z-index: 11;
	}

	.pic-stack-11:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-12 {
		position: absolute;
		top: 80px;
		left: 150px;
		transform: rotate(20deg);
		filter: grayscale(100%) !important;
		z-index: 12;
	}

	.pic-stack-12:hover {
		transition: 1s;
		transform: translateX(-40px);
		transform: translateY(-40px);
		filter: grayscale(0%) !important;
	}

	.pic-stack-1,
	 .pic-stack-2,
	 .pic-stack-3,
	 .pic-stack-4,
	 .pic-stack-5, 
	 .pic-stack-6, 
	 .pic-stack-7, 
	 .pic-stack-8, 
	 .pic-stack-9, 
	 .pic-stack-10, 
	 .pic-stack-11, 
	 .pic-stack-12 {
		filter: grayscale(0%);
	}

	/*footer*/
	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}
