* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*navbar*/
nav {
	padding: 22.5px 0px;
	background-color: #383838;
	opacity: 0.8;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.responsive-icon {
	visibility: hidden;
	font-size: 20px;
}

.navbar-links a{
	margin: 0px 10px;
	padding: 23px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navbar-links a:hover{
	color: #757575;
	text-decoration: none;
}

/*home*/
.home{
	background-color: #383838;
	background: url(../images/home-background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	color: white;
}

#web-name-h {
	position: relative;
	left: 15px;
}

.home span {
	font-size: 50px;
}

#web-name-s {
	position: relative;
	right: 15px;
}

#web-name{
	font-weight: bold;
}

#home-ipad {
	position: relative;
	top: -25px;
}

.home-products, .home-contact{
	width: 50%;
	text-align: center;
}

.home-products h3 {
	font-size: 25px;
}

.home-products img {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}

.home-products img:hover {
	filter: grayscale(100%);
	transition: 0.5s;
}

.home-thumbnails {
	margin: 10px 20px;
}

.home-contact {
	padding: 50px;
}

.home-contact ul {
	margin: 25px;
	list-style-type: none;
}

.contact-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid #556301;
    border-radius: 10px;
    background: #a0ba02;
    background: linear-gradient(to bottom, #a0ba02, #556301);
    text-shadow: #323a01 1px 1px 1px;
    font: normal normal normal 20px;
    color: #ffffff;
    text-decoration: none;
}

.contact-btn:hover, .contact-btn:focus {
    border: 0px solid ##647401;
    background: #c0df02;
    background: linear-gradient(to bottom, #c0df02, #667701);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.contact-btn:active {
    background: #556301;
    background: linear-gradient(to bottom, #556301, #556301);
}

.social-media-links {
	position: absolute;
	bottom: 50px;
	color: white;
	text-align: center;
}

i {
	margin: 0px 5px;
	color: white;
	font-size: 35px;
}

/*animations*/
.fa-facebook-square:hover {
	color: #6495ED;
	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fa-instagram:hover {
	color: 	#C71585;
  	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fa-tumblr-square:hover {
	color: #34526f;
  	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fa-twitter:hover {
	color: #6495ED;
	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fa-youtube:hover {
	color: #c4302b;
	animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*footer*/
footer{
	background-color: #383838;
	opacity: 0.8;
	height: 25px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: white;
	text-align: center;
}

/*responsive - tablet*/
@media only screen and (min-width: 640px) and (max-width: 1365px){

	.navbar-links a {
		padding: 0px;
	}

	#home-ipad {
		flex-direction: column;
		top: 0px;
	}

	.home-products, .home-contact {
		padding: 25px;
	}

}

/*responsive - mobile*/
@media only screen and (max-width: 639px){

	/*navbar*/
	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}

	.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*home-content*/
	.container-centered{
	    flex-direction: column;
	}

	.home{
		height: 190vh;
	}

	.home h1{
		position: relative;
		bottom: 25px;
	}

	#web-name {
		position: relative;
		bottom: 35px;
	}

	.home-products, .home-contact{
		width: 100%;
	}

	.home-products {
		padding: 10px;
	}

	.home-contact {
		position: relative;
		bottom: 20px;
		padding: 25px;
	}

	.social-media-links {
		position: relative;
		bottom: 40px;
		color: white;
		text-align: center;
	}

	/*footer*/
	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}
