* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Underdog', cursive
}

.marker-text {
	font-family: 'Permanent Marker', cursive;
}

.indie-text{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*landing-page*/

.landing-content {
	background: url(../images/landing-content.jpeg);
	background-size: cover;
	height: 100vh;
	color: white;
}

.landing-content h1 {
    margin-bottom: 30px;
	font-size: 50px;
}

span {
    font-size: 50px;
}

.landing-content button {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid #556301;
    border-radius: 10px;
    background: #a0ba02;
    background: linear-gradient(to bottom, #a0ba02, #556301);
    text-shadow: #323a01 1px 1px 1px;
    font: normal normal normal 20px;
    color: #ffffff;
    text-decoration: none;
}
.landing-content button:hover,
.landing-content button:focus {
    border: 0px solid ##647401;
    background: #c0df02;
    background: linear-gradient(to bottom, #c0df02, #667701);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.landing-content button:active {
    background: #556301;
    background: linear-gradient(to bottom, #556301, #556301);
}

#landing-content-link a{
	height: 25px;
	width: 100px;
}


/*responsive - tablet*/
@media only screen and (min-width: 640px) and (max-width: 1365px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        font-size: 30px;
    }

    .landing-content h3 {
        font-size: 20px;
    }

    span {
        font-size: 30px;
    }

}

/*responsive - mobile*/
@media only screen and (max-width: 639px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        margin-top: 30px;
        font-size: 25px;
    }

    .landing-content h3 {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

}
